<html>
    <head>
        <title>Update Account</title>
        {% include 'blocks/css.html' %}
    </head>
    <body>
        {% include 'blocks/header.html' %}
        <div class="container-fluid text-center bg" style="height: 100%;width: 100%;">
        <h1>Update Account</h1>
        <form class="mx-auto" action="/update-account-execute" method="post" style="width: 50%;">
            <div class="form-group">
                <label for="customer_id">Customer ID</label>
                <input type="text" class="form-control" id="customer_id" name="customer_id" value="{{customer[0]}}" readonly>
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" id="email" name="email" value="{{customer[4]}}">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>

        </form>
        </div>
        {% include 'blocks/js.html' %}
    </body>
</html>
